#kosmotaleid{
    font-size: 20px;
    color: black;
    text-decoration:none;
    
}

.kosmotale{
    padding:30px 30px;
    margin-bottom: 80px;
}
.sign-box{
    position: relative;
    width: 550px;
    height:350px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    margin-left: 320px ;
}
input{
    background: transparent;
    border:none;
    border-bottom:solid 1px #ccc;
}
button{
    position:absolute;
    bottom: 0;
    right: 0;
    margin-right:80px;
    margin-bottom:40px;
    font-size:15px;
}
input:focus{
outline:none;
}